*.json
!powerbi/theme_neoenergia.json
.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
target/
dbt_packages/
logs/
.DS_Store
DADOS/
DOCUMENTOS/*.parquet
DOCUMENTOS/WhatsApp*/
**/WhatsApp Image *.jpeg
**/WhatsApp Image *.jpg
**/.pbi/localSettings.json
**/.pbi/cache.abf
