pandas>=2.2.2
numpy>=1.26.4
google-cloud-bigquery>=3.25.0
google-auth>=2.35.0
pyarrow>=17.0.0
dbt-bigquery>=1.8.0
scikit-learn>=1.5.1
matplotlib>=3.9.2
python-dotenv>=1.0.1
chardet>=5.2.0
streamlit>=1.38.0
plotly>=5.24.1

